* {
  margin: 0;
  padding: 0;
  font-family: "Wawati SC";
}

header {
  width: 100vw;
  height: 270px;
 display: flex;
}

li {
  list-style: none;
}


ul {
  padding-left: 0;
}

.head {
    width: 30%;
    text-align: center;
    margin: auto;
}


header nav {

    display: flex;
    width: 70%;
    text-align: center;
    margin: auto;
}

.nav-list {
    display: flex;
    width: 70%;
    text-align: center;
    margin: auto;
}

.nav-list-item {
    list-style: none;
    margin: auto;
}

.mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    width: 100%;
    /* max-width: 1920px; */
    max-height: 420px;
    /* 横に広げたりしない */
    object-fit: cover;
}


.wrapper {
    max-width: 90%;
    margin: 0 10% 10% 10%;
}

.wrapper h2 {
    font-size: 1.5rem;
    font-family: "Wawati SC";
    text-align: center;
    margin-bottom: 65px;
}

/* about */
.about {
    padding: 0;
}

.about ul {
    padding: 0px;
}

.about_li {
    margin-bottom: 10px;
}

/* works */
#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

#works li {
    width: 30%;
    margin-bottom: 23px;
}
.img_item{
    width: 100%;
}

/* news */
#news dl {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

#news dl div {
    /* border-bottom: dashed 1px #333333; */
    border-bottom: 1px solid black;
    overflow: hidden;
    font-size: 14px;
    padding: 20px 0;
}

.first_div {
    border-top: 1px solid black;
}

#news dt {
    float: left;
    clear: left;
}

#news dd {
    float: left;
    margin-left: 1em;
}

#contact div {
 display: flex;
    padding-bottom: 20px;
}
#contact dd{
    width: 100%;

}
#contact dt {
    width: 30%;
}

#userName {
    height: 20px;
    width: 50%;
}

#email {
    height: 20px;
    width: 50%;
}

#message {
    width: 100%;
    height: 100px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
}

footer{
    width: 100%;
    height: 100%;
    background-color: rgb(117, 114, 114);
    text-align: center;
}
footer p{
    color: aliceblue;
}

@media screen and (max-width: 791px) {
    header {
        width: 100%;
        height: auto;
        display: block;
    }
    .head{
        width: 100%;
        line-height: 70px;

    }
    header nav{
        width: 100%;
    }
    .nav-list {
        width: 70%;
        justify-content: space-between;
        padding: 20px;
     }
    .wrapper {
        margin: 10%;
    }
    /* #works ul{ 
        width: 150%;
        justify-content: center;
    } */

    #works ul li{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .img_item{
        width: 100%;
    }
    #userName {
        height: 20px;
        width: 100%;
    }
    #email{
        width: 100%; 
    }
    #contact div {
        display: block;
        width: 100%;
    }
    #contact dd{
        width: 100%;
    
    }
}