* {
    margin: 0;
    padding: 0;
}

header {
    width: 1280px;
    height: 270px;
    display: flex;
}

li {
    list-style: none;
    /* padding: 0;
    margin: 0; */
}


ul {
    padding-left: 0;
}

.head {
    margin: 120px 260px 120px 260px
}

.nav-list {
    padding-left: 0;
    display: flex;
    height: 21px;
    width: 212px;
    justify-content: space-between;
    margin-top: 120px;
}

.nav-list-item {
    list-style: none;
}

.mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    width: 100%;
    /* max-width: 1920px; */
    max-height: 420px;
    /* 横に広げたりしない */
    object-fit: cover;
}


.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
}

.wrapper h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

/* about */
.about {
    padding: 0;
}

.about ul {
    padding: 0px;

}

.about_li {
    margin-bottom: 10px;
}

/* works */
#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

#works li {
    width: 264px;
    margin-bottom: 23px;
}

/* news */
#news dl {
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

#news dl div {
    /* border-bottom: dashed 1px #333333; */
    border-bottom: 1px solid black;
    overflow: hidden;
    font-size: 14px;
    padding: 20px 0;
}

.first_div {
    border-top: 1px solid black;
}

#news dt {
    float: left;
    clear: left;
}

#news dd {
    float: left;
    margin-left: 1em;
}

#contact div {
    display: flex;
    padding-bottom: 20px;
}

#contact dt {
    width: 30%;
}


#contact dd {
    width: 70%;
}

#name {
    height: 20px;
    width: 50%;
}

#email {
    height: 20px;
    width: 50%;
}

#message {
    width: 100%;
    height: 100px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    height: 50px;
    width: 100px;
}